body {

}

.resizeall {
    height: 100vh;
    width: 100vH;
    margin-left: 20px;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 20px;
    padding: 0px;
    list-style: none;
    font-weight: bold;
    color: #d5d5d5;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 40px;
}
a {
    text-decoration: none;
    color: #333;  
 }
 a:hover {
    text-decoration: underline;
}
 a:link {
    color: #333;
     }
     
     a:visited {
         color:gray;
     }
     
}
h1 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #333;
}

.colorgrey {
    color: #666;
        
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
