html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	margin: 0;
	background-color: whitesmoke;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.4) 100%), url(images/backgroundscreenshotimage.png);
background-attachment: fixed;}

/*NAVBAR CSS*/

nav {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;	
	height: 7vh;
	background-color: whitesmoke;
	border-bottom: 1px solid gray;
	max-height: 45px;
}

.nav_items {
	flex-basis: 25%;
	padding: 5px;
	display: flex;
	align-items: center;
    justify-content: center;
} 

nav a {
	color: #A9A9A9;
	text-align: center;
	background: -moz-linear-gradient(top, #f5f5f5 0%, #fff 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #fff));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f5f5f5 0%, #fff 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f5f5f5 0%, #fff 100%);
	/* Opera 11.10+ */
	background: linear-gradient(to bottom, #f5f5f5 0%, #fff 100%);
	/* W3C standard, IE10+ */
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#fff', GradientType=0);
	/* IE6-9 */
}

.nav_border {
    border-right: 1px solid #f3f3f3;
}

nav a:link {
  text-decoration: none;
}

nav a:visited {
  color: #A9A9A9;
}

nav a:hover {
  background: #F5F5F5;
  color: #111;
  /* x offset, y offset, size, color */
  transition: all 0.3s ease;
}

nav img {
	max-width: 90%;
	max-height: 30px;
}

h1{
	font-family: Helvetica;
	flex-basis: 100%;
	margin-left: 10px;
}



/* START CARDS HERE*/


.cards {
	margin-top: 30px;
	max-width: 835px;
	margin: auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}


.flex_blog_card {
/*	background-color: #E84560;
*/	max-width: 400px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items:flex-start;
	margin: 7px;
}

.flex_blog_card {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.flex_blog_card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.flex_blog_card_picture {
	flex: 0 1 50%;
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
	height: auto;
}

div img {
	max-width: 100%;
	min-height: 0%;
	padding: 10px;
}

.flex_blog_card_text {
	flex: 0 1 50%;
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
	justify-content: space-around;
    padding: 10px;
}

.flex_blog_card_text p {
	margin: 0;
	font-size: 16px;
}

.flex_blog_card_text h3 {
	margin: 0;
	margin-bottom: 10px;
}

.flex_blog_card.bg1 {
	background-color: rgba(232, 69, 96, 0.75);
	color: white;	
}

.flex_blog_card.bg2 {
	background-color: rgba(20, 17, 110, 0.75);
	color: white;	
}

.flex_blog_card.bg3 {
	background-color: rgba(218, 223, 0, 0.75);
	color: white;	
}

.flex_blog_card.bg4 {
	background-color: rgba(20, 17, 110, 0.75);
	color: white;	
}































